#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body.modo-claro .contacts-container {
  background-color: #f9f9f9;
  color: #222;
}

body.modo-oscuro .contacts-container {
  background-color: #222;
  color: #f9f9f9;
}