
.header{
  
  background-color: black;
  color: #646cff;
  padding: 20px 0;
  text-align: center;
  width: 100%;
  margin: 0;
  box-shadow: 0 12px 10px rgba(0, 0, 0, #dcd0ff);
 

}

.header h1{
  font-size: 3.5rem;
  font-weight: bold;
  letter-spacing: 2px;
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  
}









